*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content:center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  top: 133px;
  left: 30px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 534px;
  overflow: auto;
}

.content__details {
  display: flex; /*заменить далее на grid?*/
  flex-direction: column;
  height: 100%; /*сделать все размеры через MAX-height?*/
  max-width: 399px;
  gap: 26px; /*сделать все gap через относительные единицы?*/
}

.result__video-container {
  width: 711px; /* сделать высоту и ширину через aspect-ratio 16:9? */
  height: 386px;
  margin-bottom: 16px; /* попытаться сделать через gap у элемента .result */
}

.result__video {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 75px;
  font-style: bold;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration-line: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.search-form {

}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  background-color: transparent;
  outline: 2px solid #fff;
  outline-offset: 1px;
  width: 19px;
  height: 19px;
  vertical-align: middle; /*возможно из-за него стоит криво*/
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
  /* это ли нужно? */

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  appearance: none;
  background-color: transparent;
  border: none;
  border-block: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  block-size: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px; /*или 33%?*/
  align-self: end;

}

.more-button {
  inline-size: 100%;
}